body {
  color: white;
}

.team {
  // margin-top: 20vh;
  &-title {
    margin-top: 20vh;
  }

  &-container {
    margin-top: 3%;
  }

  &-hideIt {
    @include respond-above(md) {
      display: none;
    }
  }

  &-image {
    @include respond-below(xs) {
      width: 50%;
    }
  }
}
